
/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Globales */
body{
  font-size: 1.6rem;
  
  line-height: 1.8rem;
}

html, body {
  font-size: 18px;
  background-color: #f5f6f7;
}


h1{
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato ,sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.App{
min-height: 100vh;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
text-align: center;
}

.contenedor-principal{
  min-height: 600px;
  display: flex;
  
}


